.root {
  width: 100%;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  padding-inline: var(--rp-space-300);
  padding-block: var(--rp-space-300);
}


.appearance-neutral {
  border-color: var(--rp-color-border);
}

.appearance-red {
  border-color: var(--rp-color-danger);
  background-color: var(--rp-color-red-300);
}
